* @AnySoftKeyboard/infra @AnySoftKeyboard/maintainers
/LICENSE @AnySoftKeyboard/infra
/.github @AnySoftKeyboard/infra
/.github/CODEOWNERS @AnySoftKeyboard/infra
/scripts @AnySoftKeyboard/infra
/gradle @AnySoftKeyboard/infra @AnySoftKeyboard/maintainers
/buildSrc @AnySoftKeyboard/infra @AnySoftKeyboard/maintainers
/addons @AnySoftKeyboard/infra @AnySoftKeyboard/maintainers @AnySoftKeyboard/add-on-maintainers
/ime @AnySoftKeyboard/infra @AnySoftKeyboard/maintainers
/api @AnySoftKeyboard/infra @AnySoftKeyboard/maintainers
