common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
# Java configs
common --java_language_version=17
common --java_runtime_version=remotejdk_17
common --tool_java_language_version=17
common --tool_java_runtime_version=remotejdk_17
# hermeticity flags
## No env vars
build --action_env=PATH=/usr/bin:/bin
build --action_env=HOME
build --action_env=USER=anysoftkeyboard
build --action_env=LANG=en_US.UTF-8
build --action_env=LC_ALL
build --incompatible_strict_action_env=true
## No network access
build --sandbox_default_allow_network=false
## explicit sandbox
common --spawn_strategy=worker,sandboxed
common --genrule_strategy=sandboxed
common --strategy=CopyFile=sandboxed,local
common --strategy=CopyDirectory=sandboxed,local
common --strategy=CopyToDirectory=sandboxed,local
common --strategy=NpmLifecycleHook=sandboxed,local
