common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
# Java configs
common --java_language_version=21
common --java_runtime_version=remotejdk_21
common --tool_java_language_version=21
common --tool_java_runtime_version=remotejdk_21