<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.menny.android.anysoftkeyboard"
        android:versionCode="62" android:versionName="20120103-chamaeleon">
    
	<supports-screens
	    android:xlargeScreens="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true" />
          <!-- http://d.android.com/guide/practices/screens_support.html read about legacy. -->
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10"></uses-sdk>
    
	<application android:label="@string/ime_name" android:icon="@drawable/icon_8_key"
	    android:hardwareAccelerated="true"
		android:name=".AnyApplication"  android:backupAgent="com.anysoftkeyboard.backup.AnyBackupAgent" android:restoreAnyVersion="true">
		<!-- used to backup the settings and SQL to the cloud -->
		<meta-data android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAILlrSpiqigog3iJt3BwYxzNXMUzqgGV_dJ1EPDQ" />
		
		<!-- this is the IME with the pointer to the settings ui (xml/method) -->
		<service android:permission="android.permission.BIND_INPUT_METHOD" android:name=".SoftKeyboard">
	        <intent-filter>
	            <action android:name="android.view.InputMethod" />
	        </intent-filter>
	        <meta-data android:name="android.view.im" android:resource="@xml/method" />
	    </service>
	    
	    <!-- receivers for outside events -->
	    <receiver android:name="com.anysoftkeyboard.receivers.PackagesChangedReceiver">
	    	<intent-filter>
	    		<category android:name="android.intent.category.DEFAULT" />
	    		<action android:name="android.intent.action.PACKAGE_CHANGED"/>
	    		<action android:name="android.intent.action.PACKAGE_REMOVED"/>
	    		<action android:name="android.intent.action.PACKAGE_ADDED"/>
	    		<action android:name="android.intent.action.PACKAGE_INSTALL"/>
	    		<action android:name="android.intent.action.PACKAGE_REPLACED"/>
	    		<data android:scheme="package" />
	    	</intent-filter>	    	
	    </receiver>
	    <receiver android:name="com.anysoftkeyboard.receivers.AnySoftKeyboardInstalledReceiver" android:exported="true">
			<intent-filter>
			    <action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		
		<!-- ui activities -->
		<!-- settings ui activities -->
		<activity android:name="com.menny.android.anysoftkeyboard.MainSettings" android:label="@string/ime_name">
	    </activity>
	    <activity android:name="com.anysoftkeyboard.ui.settings.MainSettings" android:label="@string/ime_name">
	    </activity>
	    <activity android:name="com.anysoftkeyboard.ui.settings.Dictionaries" android:label="@string/special_dictionaries_group">
	    </activity>
	    <activity android:name="com.anysoftkeyboard.ui.settings.Tweaks" android:label="@string/tweaks_group">
	    </activity>
	    <activity android:name="com.anysoftkeyboard.ui.settings.Keyboards" android:label="@string/keyboards_group">
	    </activity>
	    
	    <activity android:name="com.anysoftkeyboard.ui.settings.KeyboardThemeSelector" android:label="@string/keyboard_theme_group" />
		<activity android:name="com.anysoftkeyboard.ui.settings.QuickTextKeys" android:label="@string/quick_text_keys_group" />
		<activity android:name="com.anysoftkeyboard.ui.settings.TopRowSelector" android:label="@string/top_generic_row_group" />
		<activity android:name="com.anysoftkeyboard.ui.settings.BottomRowSelector" android:label="@string/bottom_generic_row_group" />
		<activity android:name="com.anysoftkeyboard.ui.settings.ExtensionKeyboardSelector" android:label="@string/extension_keyboard_group" />
	    <!-- information ui activities -->
	    <activity android:name="com.anysoftkeyboard.ui.tutorials.TestersNoticeActivity" android:theme="@style/Popup" android:label="@string/testers_version">
	    </activity>
	    <activity android:name="com.anysoftkeyboard.ui.tutorials.WelcomeHowToNoticeActivity" android:theme="@style/Popup.NoTitle" android:label="@string/how_to_pointer_title">
	    </activity>
	    <activity android:name="com.anysoftkeyboard.ui.tutorials.ChangeLogActivity" android:theme="@style/Popup.NoTitle" android:label="@string/changelog">
	    </activity>
	    <!-- ui when a crash happens -->
	    <activity android:name="com.anysoftkeyboard.ui.SendBugReportUiActivity" android:label="@string/ime_name" android:theme="@style/Popup">
        </activity>
	    <!-- main help/about/stuff -->
	    <activity android:name="com.anysoftkeyboard.ui.MainForm"
                  android:label="@string/ime_name">
			<!-- don't want it anymore
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
        </activity>
        
        <!-- for voice -->
        <activity android:name="com.anysoftkeyboard.voice.VoiceInputNotInstalledActivity"
             android:label="@string/ime_name" android:theme="@style/Popup.NoTitle"/>
        
        <service android:name="com.anysoftkeyboard.voice.ServiceHelper" />
	    <activity
	        android:name="com.anysoftkeyboard.voice.ActivityHelper"
	        android:theme="@android:style/Theme.Translucent.NoTitleBar"
	        android:excludeFromRecents="true"
	        android:windowSoftInputMode="stateAlwaysHidden"
	        android:finishOnTaskLaunch="true"
	        android:configChanges="keyboard|keyboardHidden|navigation|orientation"/>
	</application>

	<!-- helps to determine whether I can use online voice to text -->
	<!-- 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	 -->
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- required for the user dictionary (long press a word in the suggestions bar) -->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <!-- REQUIRED FOR THE CONTACTS DICTIONARY -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
	<!-- currently, only support touch screens -->
	<uses-configuration android:reqTouchScreen="finger"/>
    <uses-configuration android:reqTouchScreen="stylus"/>
</manifest>
