<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.menny.android.anysoftkeyboard"
        android:versionCode="16" android:versionName="20100318-x-dvtel-testers">
	<application android:label="@string/ime_name" android:icon="@drawable/icon_8_key">
	    <service android:permission="android.permission.BIND_INPUT_METHOD" android:name="SoftKeyboard">
	        <intent-filter>
	            <action android:name="android.view.InputMethod" />
	        </intent-filter>
	        <meta-data android:name="android.view.im" android:resource="@xml/method" />
	    </service>
	    <activity android:name="SoftKeyboardSettings" android:label="Settings">
	    </activity>
	    <activity android:name=".MainForm"
                  android:label="@string/ime_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 
             <intent-filter> 
                <action android:name="com.menny.android.anysoftkeyboard.KEYBOARD" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
            <intent-filter> 
                <action android:name="com.menny.android.anysoftkeyboard.DICTIONARY" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
            --> 
        </activity>
	</application>

	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"></uses-sdk>
	
	<supports-screens
          android:largeScreens="true" 
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true" />
          <!-- http://d.android.com/guide/practices/screens_support.html read about legacy. -->
</manifest>
