<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.menny.android.anysoftkeyboard"
        android:versionCode="1" android:versionName="19062009">
	<application android:label="@string/ime_name" android:icon="@drawable/icon_8_key">
	    <service android:name="SoftKeyboard"
	            android:permission="android.permission.BIND_INPUT_METHOD">
	        <intent-filter>
	            <action android:name="android.view.InputMethod" />
	        </intent-filter>
	        <meta-data android:name="android.view.im" android:resource="@xml/method" />
	    </service>
	    <activity android:name="SoftKeyboardSettings" android:label="Settings">
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN"/>
	        </intent-filter>
	    </activity>
	</application>
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest>
