.main {
	margin:2em;
	font-family: Arial, Geneva, Helvetica, sans-serif;
}

.noborder {
	border: silver none 0px;
	border-collapse: collapse;
}

.nav-bar {
	float: left;
    margin: 0 0 0 0;
	border: silver none 0px;
}

.navColPlus {
	width: 25%
	border: silver none 0px;
	padding: 1em;
}

.navColTablePlus {
	border: silver none 0px;
	margin: 4px;
}

.navColTitlePlus {
	border: silver none 0px;
	padding: 1em;
}
.navColCellPlus {
	border: silver none 0px;
	padding: 0.2em;
}

table {
	clear: both;
	border-collapse: collapse;
	border: silver solid 1px;
}

td, th {
	border: silver solid 1px;
	vertical-align: top;
}

th {
	text-align: left;
	background-color: #EEE;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.bighead {
	background-color: #DDD;
	font-size: 120%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.bighead2 {
	background-color: #CCC;
	font-size: 150%;
}

.code {
	font-family: monospace;
	text-align: right;
	max-width: 8em;
}

.age, .default {
	text-align: center;
}

.andr {
	font-size: 100%;
	text-align: center;
	min-height: 24px;
}

.chars, .symb, .segoe {
	font-size: 36px;
	text-align: center;
	min-height: 32px;
}

.symb {
	font-family: Symbola;
}

img {
	width: 64px;
	height: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}
/*
.imgf {
border : gray solid 1px;
height : 22px;
width : 34px;
margin-top : 8px;
margin-bottom : 8px;
vertical-align: text-bottom;
}
*/
.imga, .imgf {
	width: 36px;
	height: 36px;
	margin-top: 2px;
	margin-bottom: 2px;
	vertical-align: text-bottom;
}

.imgs {
	width: 18px;
	height: 18px;
	margin-top: 10px;
	margin-bottom: 2px;
	vertical-align: text-bottom;
}

.imgb {
	width: 24px;
	height: 24px;
	margin-top: 1px;
	margin-bottom: 1px;
	vertical-align: text-bottom;
}

.miss, .miss7 {
	text-align: center;
	vertical-align: top;
	margin-top: 3px;
	margin-bottom: 3px;
	color: gray;
	font-style: italic;
	font-size: 75%;
}

.miss7 {
	color: silver;
}

.lchars {
	text-align: left;
}

.centerTop {
	text-align: center;
	vertical-align: top;
}

.cchars {
	text-align: center;
	width: 3em;
}

.rchars {
	text-align: right;
}

.chars, .charsSmall {
	text-decoration: none;
	color: #ccc;
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
		Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif,
		LastResort;
}

.chars {
	vertical-align: text-top;
	min-height: 20px;
}

.s18 {
	width: 18px;
	height: 18px;
}

.plain {
	text-decoration: none;
	color: #ccc;
}

body {
	margin: 0;
}

.narrow {
	width: 1pt;
}

.alt {
	background-color: #FCFCFF;
}

.aacButton {
	border: silver solid 1px;
	height: auto;
	width: auto;
	text-align: center;
    float: right;
    margin: 0 0 1em 1em;
    padding: 0.5em 0 0 0;
}

.aacImage {
    margin-left: auto;
    margin-right: auto;
	height: auto;
	width: auto;
}

A.bar {
	FONT-SIZE: 100%;
	margin-left: 0.5em;
}
A.bar:link, A.bar:visited {
	FONT-SIZE: 90%; COLOR: #fffffe
}
A.bar:active, A.bar:hover {
	FONT-SIZE: 90%; COLOR: #ff3333
}

.icon {
	padding: 0px;
	margin: 0px; 
	FONT-WEIGHT : bold;
	FONT-SIZE: 110%;
	COLOR: #fffffe;
	FONT-FAMILY: Arial, Geneva, sans-serif;
	BACKGROUND-COLOR: #990000;
	TEXT-ALIGN: left;
	FONT-WEIGHT: bold;
}
.gray {
	padding: 0;
	margin: 0;
	FONT-SIZE: 50%;
	COLOR: #fffffe;
	BACKGROUND-COLOR: #999999;
}
.logo {
	border-style: none;
	height:33px;
	width:34px;
	margin: 2px;
	vertical-align: middle;
}
.copyright {
	text-align: center;
	margin-bottom: 60em; /* gap for anchors to work*/
}
H1 {
    FONT-SIZE: 150%;
}
H2 {
    FONT-SIZE: 125%;
    margin-top:2em;
}
