name: "deploy"
description: "Deploys the AnySoftKeyboard artifacts to Play Store"
author: "menny"

inputs:
  deployment_environment:
    description: "Deploy to which environment"
    required: true
  deployment_task:
    description: "Deployment task"
    required: true
  crash_report_email:
    default: "none@example.com"
    description: "email address for crash reporting "
    required: true
  keystore_url:
    default: ""
    description: "direct download URL to APK signing keystore"
    required: true
  keystore_password:
    default: ""
    description: "APK signing keystore password"
    required: true
  keystore_key_password:
    default: ""
    description: "APK signing keystore default key password"
    required: true
  publish_service_account_creds_json_url:
    description: "url to the json certs file"
    default: ""
    required: true
runs:
  using: "docker"
  image: "docker://menny/ndk_ask:1.13.7"
  env:
    TERM: dumb
    GRADLE_OPTS: "-Dorg.gradle.daemon=false --stacktrace"
    GRADLE_USER_HOME: ".github_cache_gradle/"

  entrypoint: /bin/bash
  args:
    - .github/actions/deploy/deploy.sh
    - ${{ inputs.deployment_environment }}
    - ${{ inputs.deployment_task }}
    - ${{ inputs.crash_report_email }}
    - ${{ inputs.keystore_url }}
    - ${{ inputs.keystore_password }}
    - ${{ inputs.keystore_key_password }}
    - ${{ inputs.publish_service_account_creds_json_url }}

branding:
  icon: 'upload-cloud'
  color: 'blue'
