*.iml
.gradle
/local.properties
.idea
/key.store
.DS_Store
/build
/captures
dictionary/words_merged.xml
dictionary/words_from_aosp.xml
dictionary/words_from_texts.xml
/src/main/res/raw/
/src/main/res/values/words_dict_array.xml

*.apk