<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute" />
    <!-- http://d.android.com/guide/practices/screens_support.html read about legacy. -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- required for the user dictionary (long press a word in the suggestions bar) -->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <!-- REQUIRED FOR THE CONTACTS DICTIONARY -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- currently, only support touch and fake-touch devices -->
    <uses-feature android:name="android.hardware.faketouch" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".AnyApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/ime_name"
        android:restoreAnyVersion="true"
        android:fullBackupOnly="true"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AskApp"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- used to backup the settings and SQL to the cloud -->
        <!--
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAILlrSpiqigog3iJt3BwYxzNXMUzqgGV_dJ1EPDQ"/>
        -->

        <!-- this is the IME with the pointer to the settings ui (xml/method) -->
        <service
            android:name=".SoftKeyboard"
            android:label="@string/ime_name"
            android:exported="true"
            android:directBootAware="true"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- ui activities -->
        <!-- settings ui activities -->
        <!-- this is just a proxy activity, it does nothing but direct to the actual setting activity
        I use this, so I can 'disable' this activity at runtime, and so remove ASK from the launcher's icons -->
        <activity
            android:exported="true"
            android:name="com.menny.android.anysoftkeyboard.LauncherSettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ime_name"
            android:launchMode="singleTop"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AskApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.anysoftkeyboard.ui.settings.MainSettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ime_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AskApp"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.anysoftkeyboard.ui.settings.setup.SetupWizardActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ime_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AskApp.NoTitle.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- ui when a crash happens -->
        <activity
            android:name="com.anysoftkeyboard.ui.SendBugReportUiActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ime_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AskApp.NoTitle" />

        <activity
            android:name="com.anysoftkeyboard.ui.VoiceInputNotInstalledActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/ime_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

    <queries>
        <!-- any add-on that we support, must be declared here -->

        <!-- keyboards -->
        <intent>
            <action android:name="com.menny.android.anysoftkeyboard.KEYBOARD" />
        </intent>
        <!-- dictionaries -->
        <intent>
            <action android:name="com.menny.android.anysoftkeyboard.DICTIONARY" />
        </intent>
        <!-- extension-keyboard (rows) -->
        <intent>
            <action android:name="com.anysoftkeyboard.plugin.EXTENSION_KEYBOARD" />
        </intent>
        <!-- themes -->
        <intent>
            <action android:name="com.anysoftkeyboard.plugin.KEYBOARD_THEME" />
        </intent>
        <!-- quick-text (emoji) -->
        <intent>
            <action android:name="com.anysoftkeyboard.plugin.QUICK_TEXT_KEY" />
        </intent>

        <!-- other IMEs -->
        <intent>
            <action android:name="android.view.InputMethod"/>
        </intent>
    </queries>
</manifest>
