<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.menny.android.anysoftkeyboard">

    <application
        android:name="com.anysoftkeyboard.debug.DebugAnyApplication"
        android:fullBackupContent="true"
        tools:replace="android:name">

    </application>
</manifest>
