name: auto-approve-pr
on:
  pull_request:
    types: [review_requested]
jobs:
  check-for-auto-approval:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: ./.github/actions/auto_approval
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
          allowed_users: menny
          review_as: anysoftkeyboard-bot
