---
name: deployment

on:
  deployment

env:
  TERM: dumb
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: ".github_cache_gradle/"

jobs:
  deploy:
    runs-on: ubuntu-22.04
    container: ghcr.io/menny/android_ndk:1.19.0
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
      - uses: actions/checkout@v3.5.0
        with:
          repository: ${{ secrets.SECRETS_REPOSITORY }}
          token: ${{ secrets.BOT_SECRETS_R_GITHUB_TOKEN }}
          path: ${{ secrets.SECRETS_REPOSITORY_FOLDER }}
          ref: main
      - name: setup
        env:
          GITHUB_CONTEXT_JSON: ${{ toJson(github) }}
        run: |
          ./scripts/ci/ci_setup.sh
          mkdir -p outputs/apk || true
          mkdir -p outputs/bundle || true
          mkdir -p outputs/fdroid || true
          mkdir -p ime/app/build/outputs/mapping || true
      - uses: actions/upload-artifact@v3.1.1
        with:
          name: github_object
          path: build/github_object
      - name: status-in-progress
        run: >
          ./gradlew --stacktrace :deployment:updateDeploymentState \
            -PRequest.apiUsername="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            -PRequest.apiUserToken="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            -PrequestStatus.environment="${{ github.event.deployment.environment }}" \
            -PrequestStatus.deployment_id="${{ github.event.deployment.id }}" \
            -PrequestStatus.deployment_state="in_progress"
      - uses: ./.github/actions/deploy
        with:
          deployment_environment: ${{ github.event.deployment.environment }}
          previous_deployment_environment: ${{ github.event.deployment.payload.previous_environment }}
          deployment_task: ${{ github.event.deployment.task }}
          crash_report_email: ${{ secrets.ANYSOFTKEYBOARD_CRASH_REPORT_EMAIL }}
          secrets_repo_folder: ${{ secrets.SECRETS_REPOSITORY_FOLDER }}
          keystore_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_PASSWORD }}
          keystore_key_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_KEY_PASSWORD }}
      - name: status-success
        run: >
          ./gradlew --stacktrace :deployment:updateDeploymentSuccess \
            -PRequest.apiUsername="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            -PRequest.apiUserToken="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            -PrequestStatus.environment="${{ github.event.deployment.environment }}" \
            -PrequestStatus.deployment_id="${{ github.event.deployment.id }}" \
            -PrequestStatus.environment="${{ github.event.deployment.environment }}" \
            -PrequestStatus.sha="${{ github.event.deployment.sha }}"
      - name: status-failure
        if: failure()
        run: >
          ./gradlew --stacktrace :deployment:updateDeploymentState \
            -PRequest.apiUsername="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            -PRequest.apiUserToken="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            -PrequestStatus.environment="${{ github.event.deployment.environment }}" \
            -PrequestStatus.deployment_id="${{ github.event.deployment.id }}" \
            -PrequestStatus.deployment_state="failure"
      - uses: actions/upload-artifact@v3.1.1
        if: always()
        continue-on-error: true
        with:
          name: deploy-logging
          path: build/build-logging
      - uses: actions/upload-artifact@v3.1.1
        if: always()
        continue-on-error: true
        with:
          name: bundles
          path: outputs/bundle
      - uses: actions/upload-artifact@v3.1.1
        if: always()
        continue-on-error: true
        with:
          name: apks
          path: outputs/apk
      - uses: actions/upload-artifact@v3.1.1
        if: always()
        continue-on-error: true
        with:
          name: proguard-mapping
          path: ime/app/build/outputs/mapping
      - uses: actions/upload-artifact@v3.1.1
        continue-on-error: true
        if: always()
        with:
          name: fdroid-metadata
          path: outputs/fdroid
