name: deployment

on:
  deployment

env:
  TERM: dumb
  GRADLE_OPTS: "-Dorg.gradle.daemon=false --stacktrace"
  GRADLE_USER_HOME: ".github_cache_gradle/"

jobs:
  deploy:
    runs-on: ubuntu-18.04
    container: menny/ndk_ask:1.13.7
    steps:
      - uses: actions/checkout@v2
      - name: setup
        env:
          GITHUB_CONTEXT_JSON: ${{ toJson(github) }}
        run: |
          ./scripts/ci/ci_setup.sh
          mkdir -p outputs/apks || true
          mkdir -p outputs/fdroid || true
          mkdir -p ime/app/build/outputs/mapping || true
          mkdir -p build/github_object && echo "${GITHUB_CONTEXT_JSON}" > build/github_object/github_object.json
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: github_object
          path: build/github_object
      - name: status-in-progress
        run: ./gradlew --stacktrace :deployment:updateDeploymentState -PRequest.apiUsername="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" -PRequest.apiUserToken="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" -PrequestStatus.environment="${{ github.event.deployment.environment }}" -PrequestStatus.deployment_id="${{ github.event.deployment.id }}" -PrequestStatus.deployment_state="in_progress"
      - uses: ./.github/actions/deploy
        with:
          deployment_environment: ${{ github.event.deployment.environment }}
          deployment_task: ${{ github.event.deployment.task }}
          crash_report_email: ${{ secrets.ANYSOFTKEYBOARD_CRASH_REPORT_EMAIL }}
          keystore_url: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_URL }}
          keystore_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_PASSWORD }}
          keystore_key_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_KEY_PASSWORD }}
          publish_service_account_creds_json_url: ${{ secrets.PUBLISH_CERT_JSON_URL }}
      - name: status-success
        run: ./gradlew --stacktrace :deployment:updateDeploymentSuccess -PRequest.apiUsername="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" -PRequest.apiUserToken="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" -PrequestStatus.environment="${{ github.event.deployment.environment }}" -PrequestStatus.deployment_id="${{ github.event.deployment.id }}" -PrequestStatus.environment="${{ github.event.deployment.environment }}" -PrequestStatus.sha="${{ github.event.deployment.sha }}"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v2.4.4
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
          commit-message: 'Automated Deployment Halt'
          title: 'Automated Deployment Halt'
          committer: 'Polyglot <ask@evendanan.net>'
          author: 'Polyglot <ask@evendanan.net>'
          body: ''
          team-reviewers: add-on-maintainers
          branch: 'bot-pr/halt-deployment-marker'
          labels: automerge
      - name: status-failure
        if: failure()
        run: ./gradlew --stacktrace :deployment:updateDeploymentState -PRequest.apiUsername="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" -PRequest.apiUserToken="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" -PrequestStatus.environment="${{ github.event.deployment.environment }}" -PrequestStatus.deployment_id="${{ github.event.deployment.id }}" -PrequestStatus.deployment_state="failure"
      - uses: actions/upload-artifact@v1.0.0
        if: always()
        with:
          name: deploy-logging
          path: build-logging
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: apks
          path: outputs/apks
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: proguard-mapping
          path: ime/app/build/outputs/mapping
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: fdroid-metadata
          path: outputs/fdroid
