---
name: deployment
on: deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.deployment.task }}-${{ github.event.deployment.environment }}-${{ github.event.deployment.payload.previous_environment }}
  cancel-in-progress: true
env:
  TERM: dumb
jobs:
  deploy:
    runs-on: ubuntu-24.04
    timeout-minutes: 40
    outputs:
      deployment_environment: ${{ github.event.deployment.environment }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
      - uses: actions/checkout@v6.0.1
        with:
          repository: ${{ secrets.SECRETS_REPOSITORY }}
          token: ${{ secrets.BOT_SECRETS_R_GITHUB_TOKEN }}
          path: ${{ secrets.SECRETS_REPOSITORY_FOLDER }}
          ref: main
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: status-in-progress
        run: |
          bazel run //js/github_deployments -- status \
            --api-username="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            --token="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            --owner=${{ github.repository_owner }} \
            --repo="AnySoftKeyboard" \
            --environment="${{ github.event.deployment.environment }}" \
            --deployment-id="${{ github.event.deployment.id }}" \
            --state=in_progress
      - uses: ./.github/actions/deploy
        with:
          deployment_environment: ${{ github.event.deployment.environment }}
          previous_deployment_environment: ${{ github.event.deployment.payload.previous_environment }}
          deployment_task: ${{ github.event.deployment.task }}
          crash_report_email: ${{ secrets.ANYSOFTKEYBOARD_CRASH_REPORT_EMAIL }}
          secrets_repo_folder: ${{ secrets.SECRETS_REPOSITORY_FOLDER }}
          keystore_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_PASSWORD }}
          keystore_key_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_KEY_PASSWORD }}
      - name: status-success
        if: success()
        run: |
          bazel run //js/github_deployments -- success \
            --api-username="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            --token="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            --owner=${{ github.repository_owner }} \
            --repo="AnySoftKeyboard" \
            --environment="${{ github.event.deployment.environment }}" \
            --sha="${{ github.event.deployment.sha }}"
      - name: status-failure
        if: failure()
        run: |
          bazel run //js/github_deployments -- status \
            --api-username="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            --token="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            --owner=${{ github.repository_owner }} \
            --repo="AnySoftKeyboard" \
            --environment="${{ github.event.deployment.environment }}" \
            --deployment-id="${{ github.event.deployment.id }}" \
            --state=failure
      - uses: actions/upload-artifact@v6.0.0
        if: always()
        continue-on-error: true
        with:
          name: deploy-logging
          path: build/build-logging
      - uses: actions/upload-artifact@v6.0.0
        if: always()
        continue-on-error: true
        with:
          name: bundles
          path: outputs/bundle
      - uses: actions/upload-artifact@v6.0.0
        if: always()
        continue-on-error: true
        with:
          name: apks
          path: outputs/apk
      - uses: actions/upload-artifact@v6.0.0
        if: always()
        continue-on-error: true
        with:
          name: proguard-mapping
          path: ime/app/build/outputs/mapping
      - uses: actions/upload-artifact@v6.0.0
        continue-on-error: true
        if: always()
        with:
          name: fdroid-metadata
          path: outputs/fdroid
  post_deployment:
    name: Post-Deployment Actions
    needs: deploy
    runs-on: ubuntu-24.04
    if: success() && startsWith(needs.deploy.outputs.deployment_environment, 'imeProduction_production_')
    env:
      GH_TOKEN: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
      - name: "Derive tag and version from branch"
        run: |
          VERSION_WITH_V=$(echo "${{ github.event.deployment.ref }}" | sed 's/release-branch-ime-//')
          echo "VERSION_WITH_V=${VERSION_WITH_V}" >> $GITHUB_ENV
          TAG_NAME=$(echo "${VERSION_WITH_V}" | sed 's/^v//')
          echo "TAG_NAME=${TAG_NAME}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v7.0.0
        if: endsWith(needs.deploy.outputs.deployment_environment, '_010')
        with:
          name: apks
          path: apks
      - uses: actions/download-artifact@v7.0.0
        if: endsWith(needs.deploy.outputs.deployment_environment, '_010')
        with:
          name: bundles
          path: bundles
      - uses: actions/download-artifact@v7.0.0
        if: endsWith(needs.deploy.outputs.deployment_environment, '_010')
        with:
          name: proguard-mapping
          path: proguard-mapping
      - uses: actions/download-artifact@v7.0.0
        if: endsWith(needs.deploy.outputs.deployment_environment, '_010')
        with:
          name: fdroid-metadata
          path: fdroid-metadata
      - name: "Delete prior release and tag"
        if: endsWith(needs.deploy.outputs.deployment_environment, '_010')
        run: gh release delete "${{ env.TAG_NAME }}" --cleanup-tag --yes || true
      - name: Create GitHub Pre-Release
        if: endsWith(needs.deploy.outputs.deployment_environment, '_010')
        uses: softprops/action-gh-release@v2.5.0
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
          tag_name: ${{ env.TAG_NAME }}
          name: ${{ env.VERSION_WITH_V }}
          body_path: ime/app/src/main/play/release-notes/en-US/alpha.txt
          prerelease: true
          files: |
            apks/*.apk
            bundles/*.aab
            proguard-mapping/**/*.txt
            fdroid-metadata/version.txt
      - name: Update GitHub Release to Stable
        if: endsWith(needs.deploy.outputs.deployment_environment, '_100')
        run: gh release edit "${{ env.TAG_NAME }}" --prerelease=false
      - name: Create halt marker file
        if: endsWith(needs.deploy.outputs.deployment_environment, '_100')
        run: |-
          MARKER_FILE="deployment/halt_deployment_marker"
          git config --global --add safe.directory "${PWD}"
          BRANCH_NAME="${{ github.event.deployment.ref }}"
          echo "Will create ${MARKER_FILE} to halt future releases in the branch '${BRANCH_NAME}'."

          # Check if marker file already exists
          if [[ -f "${MARKER_FILE}" ]]; then
            echo "Halt marker file already exists. Skipping creation."
            exit 0
          fi

          mkdir -p "$(dirname "${MARKER_FILE}")"
          echo "Full deployment to '${{ needs.deploy.outputs.deployment_environment }}' in branch '${BRANCH_NAME}' was successful." > "${MARKER_FILE}"
          git config --global user.email "ask@evendanan.net"
          git config --global user.name "Polyglot"
          git add "${MARKER_FILE}"
          git commit -m "Halting deploy for ${{ needs.deploy.outputs.deployment_environment }}" || {
            echo "Failed to commit halt marker file"
            exit 1
          }
          git push origin "HEAD:${BRANCH_NAME}" || {
            echo "Failed to push to origin HEAD:${BRANCH_NAME}"
            git remote -v
            exit 1
          }
