---
name: deployment
on: deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.deployment.task }}-${{ github.event.deployment.environment }}-${{ github.event.deployment.payload.previous_environment }}
  cancel-in-progress: true
env:
  TERM: dumb
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: ".github_cache_gradle/"
jobs:
  deploy:
    runs-on: ubuntu-24.04
    container: ghcr.io/menny/android:1.21.2
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
      - uses: actions/checkout@v4.2.2
        with:
          repository: ${{ secrets.SECRETS_REPOSITORY }}
          token: ${{ secrets.BOT_SECRETS_R_GITHUB_TOKEN }}
          path: ${{ secrets.SECRETS_REPOSITORY_FOLDER }}
          ref: main
      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: setup
        env:
          GITHUB_CONTEXT_JSON: ${{ toJson(github) }}
        run: |
          ./scripts/ci/ci_setup.sh
          mkdir -p outputs/apk || true
          mkdir -p outputs/bundle || true
          mkdir -p outputs/fdroid || true
          mkdir -p ime/app/build/outputs/mapping || true
      - uses: actions/upload-artifact@v4.6.2
        with:
          name: github_object
          path: build/github_object
      - name: status-in-progress
        run: |
          bazel run //js/github_deployments -- status \
            --api-username="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            --token="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            --owner=${{ github.repository_owner }} \
            --repo="AnySoftKeyboard" \
            --environment="${{ github.event.deployment.environment }}" \
            --deployment-id="${{ github.event.deployment.id }}" \
            --state=in_progress
      - uses: ./.github/actions/deploy
        with:
          deployment_environment: ${{ github.event.deployment.environment }}
          previous_deployment_environment: ${{ github.event.deployment.payload.previous_environment }}
          deployment_task: ${{ github.event.deployment.task }}
          crash_report_email: ${{ secrets.ANYSOFTKEYBOARD_CRASH_REPORT_EMAIL }}
          secrets_repo_folder: ${{ secrets.SECRETS_REPOSITORY_FOLDER }}
          keystore_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_PASSWORD }}
          keystore_key_password: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_KEY_PASSWORD }}
      - name: status-success
        if: success()
        run: |
          bazel run //js/github_deployments -- success \
            --api-username="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            --token="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            --owner=${{ github.repository_owner }} \
            --repo="AnySoftKeyboard" \
            --environment="${{ github.event.deployment.environment }}" \
            --sha="${{ github.event.deployment.sha }}"
      - name: status-failure
        if: failure()
        run: |
          bazel run //js/github_deployments -- status \
            --api-username="${{ secrets.BOT_MASTER_RW_GITHUB_USERNAME }}" \
            --token="${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}" \
            --owner=${{ github.repository_owner }} \
            --repo="AnySoftKeyboard" \
            --environment="${{ github.event.deployment.environment }}" \
            --deployment-id="${{ github.event.deployment.id }}" \
            --state=failure
      - uses: actions/upload-artifact@v4.6.2
        if: always()
        continue-on-error: true
        with:
          name: deploy-logging
          path: build/build-logging
      - uses: actions/upload-artifact@v4.6.2
        if: always()
        continue-on-error: true
        with:
          name: bundles
          path: outputs/bundle
      - uses: actions/upload-artifact@v4.6.2
        if: always()
        continue-on-error: true
        with:
          name: apks
          path: outputs/apk
      - uses: actions/upload-artifact@v4.6.2
        if: always()
        continue-on-error: true
        with:
          name: proguard-mapping
          path: ime/app/build/outputs/mapping
      - uses: actions/upload-artifact@v4.6.2
        continue-on-error: true
        if: always()
        with:
          name: fdroid-metadata
          path: outputs/fdroid
