---
name: packs-lists

on:
  push:
    branches:
      - main
    paths:
      - 'addons/**'
      - '.github/workflows/packs_md_update.yml'

env:
  TERM: dumb
  TMPDIR: "/tmp"

jobs:
  packs-md-update:
    runs-on: ubuntu-22.04
    container: ghcr.io/menny/android_ndk:1.20.0
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
      - name: setup
        run: ./scripts/ci/ci_setup.sh
      - name: update packs list
        run: ./gradlew :addons:languages:generatePacksMarkDown :addons:themes:generatePacksMarkDown :addons:quicktexts:generatePacksMarkDown
      - name: Create pull request
        uses: peter-evans/create-pull-request@v5.0.1
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
          commit-message: 'Automated Packs List Update'
          title: 'Automated Packs List Update'
          committer: 'Polyglot <ask@evendanan.net>'
          author: 'Polyglot <ask@evendanan.net>'
          body: 'Generated from latest _main_ addons packages.'
          team-reviewers: add-on-maintainers
          branch: 'bot-pr/packs-list-update'
          delete-branch: true
