name: packs-lists

#always run on the default branch: master
on:
  schedule:
    - cron: '30 09 * * *'

env:
  TERM: dumb
  TMPDIR: "/tmp"

jobs:
  packs-md-update:
    runs-on: ubuntu-18.04
    container: menny/ndk_ask:1.13.6
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
      - name: setup
        run: ./scripts/ci/ci_setup.sh
      - name: update packs list
        run: ./gradlew :addons:languages:generatePacksMarkDown :addons:themes:generatePacksMarkDown :addons:quicktexts:generatePacksMarkDown
      - name: Create pull request
        uses: peter-evans/create-pull-request@v2.4.1
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
          commit-message: 'Automated Packs List Update'
          title: 'Automated Packs List Update'
          committer: 'Polyglot <ask@evendanan.net>'
          author: 'Polyglot <ask@evendanan.net>'
          body: ''
          assignees: menny
          branch: 'bot-pr/packs-list-update'
