---
name: Renovate
on:
  # Run on a schedule (every weekend at 6 AM UTC Saturday)
  schedule:
    - cron: '0 6 * * 6'
  # Allow manual triggers
  workflow_dispatch:
  # Run on pushes to renovate.json to validate configuration
  push:
    paths:
      - '.github/workflows/renovate.yml'
      - '.github/renovate.json'
    branches:
      - main
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: check bazel and java
        run: |
          ./gradlew --version
          ./gradlew :tasks
          bazel version
          bazel query //...
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.6
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: ${{ github.repository }}
      - name: renovate outputs
        run: |
          echo "SHA:"
          git rev-parse HEAD
          echo "Branch:"
          git rev-parse --abbrev-ref HEAD
          echo "Env:"
          env
